<mat-card
  class="w-75 m-auto h-50 d-flex justify-content-center align-items-center shadow-lg border-0"
>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm" class="form-control">
    <mat-form-field class="d-flex justify-content-center">
      <input
        matInput
        type="text"
        ngModel
        required
        name="title"
        placeholder="Enter the title here"
      />
      <!-- Use optional chaining to access controls safely -->
      <mat-error
        *ngIf="
          postForm.controls.title?.invalid && postForm.controls.title?.touched
        "
      >
        Please enter a title
      </mat-error>
    </mat-form-field>
    <mat-form-field class="w-100">
      <textarea
        matInput
        required
        class="w-75 d-flex justify-content-center m-auto rounded-1 shadow-lg border-0"
        placeholder="Enter Post Here"
        minlength="3"
        maxlength="255"
        rows="6"
        name="content"
        ngModel
      ></textarea>
      <!-- Use optional chaining to access controls safely -->
      <mat-error
        *ngIf="
          postForm.controls.content?.invalid &&
          postForm.controls.content?.touched
        "
      >
        Please enter a content
      </mat-error>
    </mat-form-field>
    <div class="d-flex justify-content-center mt-3">
      <button type="submit" mat-raised-button color="primary">Save Post</button>
    </div>
  </form>
</mat-card>
